<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>All your base are belong to us.</h1>
        <h2>You are headed for destruction.</h2>
    </hgroup>
</body>
</html>
